.bloque{
    background-color: blueviolet;
    margin-bottom: -8px;
    padding-bottom: 25px;
    padding-top: 15px;
    text-align: center;
}

.todo{
    background-color: rgb(129, 0, 125);
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.todo p{
    background-color: white;
}

.todo div .col-12{
    background-color: white;
    border: solid 2px;
}

.final{
    padding-top: 30px;
}

.todo .col-7{
    padding-right: 0px;
    margin-right: -350px;
}

.todo .col-5{
    padding-top: 140px;
}

@media (max-width: 768px ){

    .todo{
        display: grid;
        height: 550px;
    }

    .todo .col-7{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .todo div .col-12{
        padding-left: 0px;
        margin-left: 35%;
    }

    .todo div p{
        margin-left: 20%;
        margin-right: -50%;
        padding: 0px;
    }

    .todo .col-5{
        padding-top: 0px;
    }




}