body {
    height: 100%;
}



.card {
    width: 100%;
}



@media only screen and (max-width: 1199px) {
    .card {
        flex-direction: column;
    }
}

button[type="submit"] {
    background: #51034F;
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
}

button[type="submit"]:hover {
    background: #7A1C79;
}


footer{
    width: 100%;
}